<% include ./partials/header %>

<div class="container add-wrapper">
  <div class="page-header"><strong>EDIT:</strong> <%= recipe.title %></div>
  <form action="/recipes/<%= recipe._id %>?_method=PUT" method="POST">
    <div class="form-group">
      <label>Dish Name</label>
      <input type="text" class="form-control" name="recipe[title]" value="<%= recipe.title %>">
    </div>
    <div class="form-group">
      <label>Image</label>
      <input type="text" class="form-control" name="recipe[image]" value="<%= recipe.image %>">
    </div>
    <div class="form-group">
      <label>Ingredients</label>
      <textarea name="recipe[ingredients]" class="form-control">
        <%= recipe.ingredients %>
      </textarea>
    </div>
      <div class="form-group">
      <label>Instructions</label>  
      <textarea name="recipe[instructions]" class="form-control">
        <%= recipe.instructions %>
      </textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <a href="/recipes/<%= recipe._id %>">Go back</a>
  </div>

<% include ./partials/footer %>