<% include ./partials/header %>

<div class="container add-wrapper">
  <div class="page-header"><%= recipe.title %></div>
  <img class="card-img-top" src="<%= recipe.image %>" width="300px">
  <div class="">
    <div class="view-card">
      <div class="card-body">
        <h2>Ingredients</h2>
        <p><%- recipe.ingredients %></p>
      </div>
      <div class="card-body">
        <h2>Instructions</h2>
        <p><%- recipe.instructions %></p>
      </div>
    </div>
    <div class="card-body">
      <a class="btn btn-md btn-info" href="/recipes/<%= recipe._id %>/edit">Edit</a>
      <form id="delete" action="/recipes/<%= recipe._id %>?_method=DELETE" method="POST" style="display: inline">
        <button class="btn btn-md btn-danger">Delete</button>
      </form>
    </div>
  </div>
</div>

<% include ./partials/footer %>


